/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    color:#333333;
    
}

h1{
    font-size:24px;
}

h3{
    font-size:14px;
}

h4{
    font-size:10px;
}

.light{
    font-weight:300;
}

.pink-text{
    color:#EC1F46;
}
/*NAVBAR TOP*/

.container{
    display:flex;
    flex-basis:100%;
    padding-right:165px;
    padding-left:165px;
}

.navbar-top{

height: 60px;
left: 0px;
top: 0px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background-color:#F5FAFE;
justify-content:space-between;
align-items:center;

}

.navbar-top-icon{
    margin-right:7px;
    font-size:16px;
}

.navbar-top-box-1{
    flex-basis:70%;
}

.navbar-top-box-2{
    flex-basis:15%;
    text-align:right;
}

.navbar-top-box-3{
    flex-basis:15%;
    text-align:right;
}

/*NAVBAR*/

.navbar{
    height: 120px;
    left: 0px;
    align-items:center;
    justify-content: space-between;
    }

.navbar-box-1{
    flex-basis:15%;
    height:24px;
    
}

.navbar-title{
    font-family: 'Luckiest Guy', cursive;
    margin:0;
}

.navbar-box-2{
    display:flex;
    align-items:center;
    text-align:right;
    flex-basis:25%;
    height: 40px;
    
}

.find-bar{
    background-color:#F5FAFE;
    width: 350px;
    height: 40px;
    left: 450px;
    top: 100px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.find-button{
    width: 65px;
    height: 40px;
    left: 735px;
    top: 100px;
    background-color:#EC1F46;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

.navbar-box-3{
    height: 34px;
    display:flex;
    align-items: center;
}

.navbar-space{
    flex-basis:15%;
}

.cart{
    width: 24px;
    height: 24px;
    display:flex;
   
}

.cart-icon{
    width: 34px;
    height: 34px;
    color:#333333;
    font-size:24px;
}

.dot{
    width: 20px;
    height: 20px;
    margin-top:-20px;
    background-color:#EC1F46;
    color:#ffffff;
    text-align:center;
    font-size:10px;
    line-height:20px;
    border-radius:50%;
    
}

.navbar-box-4{
    display:flex;
    flex-basis:10%;
    justify-content:space-between;
    align-items: center;
}

.profile-pic{
    width:40px;
    height:40px;
    background-color:blue;
    border-radius:50%;
}

.chevron-icon{
    font-size:24px;
    
}

/*NAVBAR BOTTOM*/

.navbar-bottom{
    background-color:#0a223d;
    color:#ffffff;
    height:80px;
    align-items: center;
    justify-content: space-between;
}

.inline-menu{
    width:100%;
    padding:0;
    display:inline-flex;
    justify-content: space-between;
    list-style-type: none;
}

.navbar-link{
    color:#ffffff;
    text-decoration:none;
}

.navbar-link:hover{
    color:#ffffff;
    opacity:0.8;
}

/*BREADCRUMB*/

.breadcrumb{
    height:50px;
    font-weight:300;
    align-items: center;
}

.breadcrumb-link{
    color:#333333;
    text-decoration:none;
}

.breadcrumb-link:hover{
    text-decoration:underline;
}

/*HOTEL NAME*/

.hotel-name{
    justify-content:space-between;
    align-items:center;
    height:100px;
}

.hotel-name-box-2{
    background-color:#EC1F46;
    color:#ffffff;
    height:45px;
}

