/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html{
    width:1440px;
}

body{
    font-family: 'Mulish', sans-serif;
    color:#333333;
    
}

h1{
    font-size:24px;
    margin:0;

}

h2{
    font-size:18px;
    margin:0;

}

h3{
    font-size:14px;
    margin:0;
}

h4{
    font-size:10px;
    margin:0;

}

h5{
    font-size:8px;
    margin:0;
}

.light{
    font-weight:300;
}

.pink-text{
    color:#EC1F46;
}

.light-blue-section{
    background-color:#F5FAFE;
}
/*NAVBAR TOP*/

.container{
    display:flex;
    flex-basis:100%;
    padding-right:165px;
    padding-left:165px;
    
}

.container-no-flex{
    flex-basis:100%;
    padding-right:165px;
    padding-left:165px; 
}

@media (max-width:1901px){
    .container{
        padding-right:165px;
        padding-left:165px;
    
    }
    .container-no-flex{
        padding-right:165px;
        padding-left:165px;
    
    }

}

@media (max-width:1601px){
    .container{
        padding-right:165px;
        padding-left:165px;
    
    }
    .container-no-flex{
        padding-right:165px;
        padding-left:165px;
    
    }

}

@media (max-width:1450px){
    .container{
        padding-right:165px;
        padding-left:165px;
    
    }
    .container-no-flex{
        padding-right:165px;
        padding-left:165px;
    
    }
}

.navbar-top{

height: 60px;
left: 0px;
top: 0px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background-color:#F5FAFE;
justify-content:space-between;
align-items:center;

}

.navbar-top-icon{
    margin-right:7px;
    font-size:16px;
}

.navbar-top-box-1{
    flex-basis:70%;
}

.navbar-top-box-2{
    flex-basis:15%;
    text-align:right;
}

.navbar-top-box-3{
    flex-basis:15%;
    text-align:right;
}

/*NAVBAR*/

.navbar{
    height: 120px;
    left: 0px;
    align-items:center;
    justify-content: space-between;
    }

.navbar-box-1{
    flex-basis:17%;
    height:24px;
    
}

.navbar-title{
    font-family: 'Luckiest Guy', cursive;
    margin:0;
}

.navbar-box-2{
    display:flex;
    align-items:center;
    text-align:right;
    flex-basis:25%;
    height: 40px;
    
}

.find-bar{
    background-color:#F5FAFE;
    width: 350px;
    height: 40px;
    left: 450px;
    top: 100px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.find-button{
    width: 65px;
    height: 40px;
    left: 735px;
    top: 100px;
    background-color:#EC1F46;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

.navbar-box-3{
    height: 34px;
    display:flex;
    align-items: center;
}

.navbar-space{
    flex-basis:15%;
}

.cart{
    width: 24px;
    height: 24px;
    display:flex;
   
}

.cart-icon{
    width: 34px;
    height: 34px;
    color:#333333;
    font-size:24px;
}

.dot{
    width: 20px;
    height: 20px;
    margin-top:-20px;
    background-color:#EC1F46;
    color:#ffffff;
    text-align:center;
    font-size:10px;
    line-height:20px;
    border-radius:50%;
    
}

.navbar-box-4{
    display:flex;
    flex-basis:10%;
    justify-content:space-between;
    align-items: center;
}

.profile-pic{
    width:40px;
    height:40px;
    background-color:blue;
    border-radius:50%;
}

.chevron-icon{
    font-size:24px;
    
}

/*NAVBAR BOTTOM*/

.navbar-bottom{
    background-color:#0a223d;
    color:#ffffff;
    height:80px;
    align-items: center;
    justify-content: space-between;
}

.inline-menu{
    width:100%;
    padding:0;
    display:inline-flex;
    justify-content: space-between;
    list-style-type: none;
}

.navbar-link{
    color:#ffffff;
    text-decoration:none;
}

.navbar-link:hover{
    color:#ffffff;
    opacity:0.8;
}

/*BREADCRUMB*/

.breadcrumb{
    height:50px;
    font-weight:300;
    align-items: center;
}

.breadcrumb-link{
    color:#333333;
    text-decoration:none;
}

.breadcrumb-link:hover{
    text-decoration:underline;
}

/*HOTEL NAME*/

.hotel-name{
    justify-content:space-between;
    align-items:center;
    height:100px;
}

.hotel-name-box-2{
    width:5%;
    border-radius:4px;
    text-align:center;
    line-height:22px;
    background-color:#EC1F46;
    color:#ffffff;
    height:45px;
}

.star{
    color:#F2994A;
    font-size:8px;
}

.star-container{
    height:8px;
    margin-bottom:16px;
}

.offer-container{
    height:20px;
}

.offer-text{
    font-size:12px;
    font-weight:300;
}

/*SLIDER BOOKING AND MAP*/

.slider-booking-map-container{
    justify-content: space-between;
    
}

.slider{
    flex-basis:70%;
    height:477px;
    border-radius:8px;
    background-image:url(https://s3-alpha-sig.figma.com/img/2b6d/bbb7/c51053944d88e342b77ef771783c0dd3?Expires=1601251200&Signature=JoqR~VTh-56uxyazT-4DqGTSTPv8qH~3J61SC3yZmJkf4MOxEakHkMCbOUOzaZ6ZM5JgmLGa3G13mpqiYR2773RuP5jcycEq6j~5l5NJISrvKG7yVcQg5EIRbGDnwbh8nNsgw~41~SzJX9aw7z8Dbs~7NjYl-jQSj9y4uRpwfGO0h730JqGlPsmcVSWJLHPlKTkWn4BpwTZ92Lc111hxRFfc8wrWEZ-UBQrTW-gIdHj6zSv6x59vv31LRKkYukiwCbqqCnL2mYCeOerGeK6woFiSbrKWx~zB~vqKm5NIh7zX4Z7XHa2jheQcnFw44v4Bz07D69809WdoNsBu6j7cqg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-position:center;
    
}

.booking-map-container{
    flex-basis:23%;
    
}

.booking-blue{
    height:210px;
    padding-top:26px;
    color:#ffffff;
    background-color:#0a223d;
    border-radius:8px;

}
.booking{
    display:flex;
    justify-content: space-around;
}

.text-margin{
    margin-bottom:9px;
}

.text-margin-triple{
    margin-bottom:35px;
}

.booking-button{
    width:90%;
    height:45px;
    margin:0 auto;
    background-color:#EC1F46;
    border-radius:4px;
    color:#ffffff;
    text-align:center;
    line-height:45px;
    margin-top:17px;
}

.booking-icon{
    margin-right:5px;
}

.map{
    height:213px;
    margin-top:27px;
}

/*CARDS MENU*/

.cards-menu-container{
    height:35px;
    margin-top:67px;
    justify-content: space-between;
}

.cards-menu{
    margin:0;
}

.cards-menu-link{
    color:#333333;
    text-decoration:none;
}

.cards-menu-link:hover{
    color:#EC1F46;
}

.cards-menu-link-box {
    font-size:14px;
    text-decoration:none;
}

.cards-menu-link-box:hover{
    border-bottom:4px solid #EC1F46;
}

/*PACKAGE SUMMERY*/

.summery-top{
    margin-top:40px;
}

.package-summery-container{
    justify-content: space-between;
    flex-basis:47%;
    margin-top:45px;
    
}

.package-highlights{
    flex-basis:47%;
    height:200px;
    background-color:#ffffff;
}

.offer-details{
    flex-basis:47%;
    height:200px;
    background-color:#ffffff;
    
}

.blue-section-summery{
    flex-basis:45%;
    background-color: #0a223d;
    color:#ffffff;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    padding-left:24px;
}

.summery-title{
    line-height:50px;
}

.package-summery-body{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding-left:24px;
}

.package-group-sx, .package-group-dx{
    height:96px;
    flex-basis:50%;
    padding-top:29px;
}

.package-section{
    flex-basis:100%;
    display:flex;
    margin-bottom:20px;
}

.section-sx{
    flex-basis:10%;
}

.section-dx{
    flex-basis:90%;
}

.text-section{
    font-size:12px;
    font-weight:300;
}

/*PACKAGE SUMMERY DETAILS*/
.package-summery-container-100{
    flex-basis:100%;
    margin-top:45px;
}

.blue-section-summery-100{
    flex-basis:100%;
    background-color: #0a223d;
    color:#ffffff;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.package-summery-body-100-a{
    flex-basis:100%;
    height:319px;
    display:flex;
    justify-content: space-around;
    padding-left:24px;
    background-color:#ffffff;
}

.blue-section-summery-100{
    flex-basis:100%;
    background-color: #0a223d;
    color:#ffffff;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    padding-left:24px;

}

.package-group-100-sx, .package-group-100-center, .package-group-100-dx{
    flex-basis:30%;
    padding-top:29px;
}

.package-group-pink-title{
    color:#EC1F46;
    font-size:13px;
    font-weight:300;
    margin-bottom:21px;
}

.lines{
    width:85%;
    margin:0 auto;
    border-bottom:2px #e0e0e0 dotted;
}

.package-summery-body-100-b{
    display:flex;
    flex-basis:100%;
    justify-content: space-around;
    padding-left:24px;
    height:182px;
    background-color:#ffffff;
}

/*OTHER ACTIVITIES*/

.other-activities-title{
    text-align:center;
    font-size:36px;
    padding-top:105px;
    padding-bottom:73px;
}

.trip-advisor-container{
    justify-content: space-between;
}

.trip-advisor-large{
    display:flex;
    flex-basis:65%;
    height:500px;
    align-items:center;
}

.trip-advisor-image-left{
    background-image:url(https://s3-alpha-sig.figma.com/img/6d11/1d35/4e67c75fe4699da25a33607a81bf7e72?Expires=1601251200&Signature=JxMeGRjn-vmjcCQzmr4umwkVXNOzuaPs4bL28c54WYpK6mKHlW8l0GQAwq0EUX2ZF2V5ymB-Ty1-XOLKw92oPiT518o6GYLB5oghfunQ86jcbfOMXLe~79lGB~1jyHT1rsmlKOmpCbvgwUZcgxJ34Lgpdx6Zw6b2yv4NqsGuGpJeFCSRgmk3syme6oBQm89otWC64nRIswImNZ9CmJahrk3C4bnhEt7eJPZhKdGTJH843zHJmTs6umI5o-NGB3yFcjMegixkFRhl9tUw9DwTbikON~y4~SNCLGDQk1d3dk4gdzFuuq91kHfshXDBDasH63xLCj8lqPWnaOpalDCdyw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:500px;
    flex-basis:50%;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    position:relative;
}

.trip-advisor-text-right{
    flex-basis:50%;
    height:500px;
    background-color:#0a223d;
    color:#ffffff;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    padding-left:44px;
    padding-right:21px;
}

.star-advisor{
    margin-top:46px;
}

.advisor-paragraph{
    font-size:16px;
    font-weight:300;
    margin-top:27px;
    margin-bottom:52px;
    text-align: justify;
    text-justify: inter-word;
}

.advisor-section{
    width:70%;
    display:flex;
    align-items:center;
    margin-bottom:11px;
}

.old-price{
    font-weight:300;
    text-decoration: line-through;
    margin-top:27px;
}

.price-and-button{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:40px;
}

.price{
    font-weight:bold;
    font-size:24px;
    margin-top:10px;
}

.advisor-button{
    flex-basis:25%;
    height:40px;
    background-color:#EC1F46;
    color:#ffffff;
    text-align:center;
    line-height:40px;
    border-radius:4px;
}

.trip-advisor-regular{
    flex-basis:32%;
    flex-direction:column;
    background-color:#0a223d;
    border-radius:8px;
    height:500px;
    align-items: center;
}

.trip-advisor-regular-image{
    height:250px;
    width:100%;
    background-image:url(https://s3-alpha-sig.figma.com/img/97a7/9d1a/68c74b0571bbf58dc46203a9dbb16afa?Expires=1601251200&Signature=BOp~2ahs0JE0Fa9MggL~dP8WMMa-t5Mr14gpt9WiYYhCHOydZ1zyL~PU087wdzp-ZWJqxRr8oElTwGZwqw6T9SVP2EoSNyMYXg1QgC0jveY9VGjdu3fhAQ9Y47Ypcjh56C43NX9PX5hRVI0872f0EcclpPgsJgSup39mn~v337Nn0aDzGl6o83sglOjkqxCq~YWVNL4pIXuePtVycvRWdM9pI3KLZ~JNjd2s0LdmgZkhU-savxpLB3KHPbIlREWydvaCAA895r1u4M8WIRAkAT~eSv2B~IcFirMuOnLoY2TklmMGoKfhMPypwpLIWfNH72B5BDDS3pxrUG8P-8RBlw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    position:relative;
}

.trip-advisor-regular-image-sx{
    height:250px;
    width:100%;
    background-image:url(https://s3-alpha-sig.figma.com/img/2f2f/41fc/a09d43f48e88b6bfacb2632901041501?Expires=1601251200&Signature=T9Sjdur~RR~2c3ALo12t0LH3KRyfUKA0zckve5Y6ZiiSTTQDlfBPGcoaRZ9rMc5jkj5JSsad8NN-qlJW96rwxo2rQyLUdTbI7mBmW-v-0MA5HXu7MFJXwthliTsHEOeFYy5BKoNdHDBzr9KDljHqC~2QKbu0Bj2uFnjKPgkRiQCgnpXF77kQVimFGw4BSVZVSQG6RFGdDtph0q3782NQBltUivxAh52mDQguOYxjtnm01bpq12anfPQvoP7Tb8jIYJXwqCPT6C9XjEoQf6rxAKLYCbTlVxihLkNHrem5-hBGPA1JWsax8N1Cm7vpZT4TZFXL3NBZBOOmV4ER0x6jLQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    position:relative;
}

.trip-advisor-regular-image-center{
    height:250px;
    width:100%;
    background-image:url(https://s3-alpha-sig.figma.com/img/09b2/c682/d655bc4f88f94ba3b92c9d2873a9ecf9?Expires=1601251200&Signature=BsOYUyDrfTWSfPrlxYOgQ0p5lG2fUcM3C7tN2gkHUp6wpvm~UzZ00O1XkBO1XqlE0mxVkv4PEhHkHIJy9E7dg4ZUt1kv03IdQRNPRIXJ4shMBId~awTgrJBM667huMbZHs-x3RmfyfxpFrt1KrxxdRjNFhluUlZ9b1J8oU~AtqEeu~nz~Z7dIcplNeZNnAhy4uS9R5DsPJkNZf0lCwB65GiaqEwwz4ANLnFzl3CPvK-FwqOrtDv4u2d-OkloSzErsraUrL7q1Ep5BM2AxWV5je0DAXw2-9oWwLxD~6edk8cB5o1jVfrJJbl6X0CSV3~5GYUyJ5cdtlZdd3oAvC3CEQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    position:relative;
}

.trip-advisor-regular-image-dx{
    height:250px;
    width:100%;
    background-image:url(https://s3-alpha-sig.figma.com/img/096b/bab9/d2b00dd1fc743796cbf6b959a6347d51?Expires=1601251200&Signature=afTbCnYiyE8vz2t6jHrSmaHzF-dAW8fuz0E4CoKAOkopnJNjO1h6LmH~TTsqA5hTlYzbfD4QzrwrWC3EGGlv8Gd9hteD6izkz0lyVfaLKOYsJFbGxPGbYDNGNUvyyG1vQTkTAInunJKRJYdp-nKyRHd9zzNhTDYsNuhUM0yJKb0QOCDtODWssqtwmY23Vg1LT9ePtnKrCrqZ5TIkGlGg2zl1lKTUbJfWNykfH9KMdOri6MbdI0inPc3cOow3n2CMpSX-wvmCnU6aBLT7Yl5RdcHxEa26aBtKtnPEmvNLJ4B2EpmNuGSfOI-rlxVWbYfksmU0biMCrI3RQ~OtgRtBHg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    position:relative;
}

.trip-advisor-regular-text{
    height:250px;
    padding-left:32px;
    padding-right:21px;
    padding-top:30px;
    padding-bottom:25px;
    color:#ffffff;
    
}

.special-offer-tag-large{
    background-color:#EC1F46;
    color:#ffffff;
    font-size:12px;
    line-height:30px;
    font-weight:300;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    height:30px;
    position:absolute;
    top:26px;
    padding:6px 12px 6px 11px;
    
}

.special-offer-tag-small{
    background-color:#EC1F46;
    color:#ffffff;
    font-size:8px;
    font-weight:300;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    height:18px;
    line-height:18px;
    padding:4px 9px 4px 9px;
    position:absolute;
    top:26px;
}

.advisor-regular-section{
    margin-top:23px;
}

.old-price-regular{
    font-weight:300;
    text-decoration: line-through;
    margin-top:20px;
}

.price-regular{
    font-weight:bold;
    font-size:24px;
}

.trip-advisor-container-second{
    justify-content: space-between;
    margin-top:30px;
    padding-bottom:65px;
}

.white-line{
    width:100%;
    height:5px;
    background-color:#ffffff;
}

/*GUEST REVIEWS*/

.guest-reviews-container{
    width:100%;
    height:351px;
    display:flex;
    justify-content: space-between;
}

.guest-review-arrow-container{
    flex-basis:15%;
    align-items: center;
    justify-content: center;
    height:280px;
    position:relative;
}

.guest-reviews-title{
    text-align:center;
    font-size:36px;
    padding-top:40px;
    padding-bottom:115px;

}

.reviews-container{
    flex-basis:70%;
    height:280px;
    margin:0 auto;
    background-color:#ffffff;
    border-radius:8px;
    position:relative;
    text-align:center;
    flex-direction:column;
    align-items: center;
   
}

.guest-review-arrow-sx{
    color:#828282;
    font-size:30px;
    position:absolute;
    top:93px;
    right:152px;
}

.guest-review-arrow-dx{
    color:#828282;
    font-size:30px;
    position:absolute;
    top:93px;
    left:152px;
}

.guest-picture{
    width:90px;
    height:90px;
    border-radius:50%;
    position:absolute;
    margin-top:-45px;
    left: 50%;
    transform: translate(-50%, 0);
    background-image:url(https://s3-alpha-sig.figma.com/img/900d/5e93/52b690406aa5d4b499fa8dd65b33a031?Expires=1601251200&Signature=T9vrlA4CCkCAyBvP5FdQTSGxi4HsKUxmR1yOSC7j853wxERL0BxMzql-eb9VPWjlaS1C0~XufvDreWIbNjeWRcd~WkJ0RbAKJ2Ba-R3oz1re4VfT4nqFOB5BON9r9CwgspC3VdSJt5tZprU7pvyv1n3ymZaWpZqUgCK-cfcGyM3Sm3HYc4ovV3XO9dqAEk0ZBMFqqsOMe2JshHrSQct3LsChR3rz~Av4zjsPSL41R-VKJwbcHQe9xixSL2FKdoW68O-qZFYBrd0bnBfUIHP9WNI4tWwhhRb7V6ePfVrEwbOpyGykUbVY3HMYldDMJF9USyavJMuKxBJyqYeKEZ9znQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.guest-name-container{
    width:100%;
    position:absolute;
    top:54px;
    text-align:center;
}

.guest-name{
    color:#EC1F46;
    font-weight:300;
    font-size:12px;
}

.reviews-date{
    font-size:10px;
    font-weight:300;
    text-align:center;
    margin-top:79px;
    margin-bottom:0;
}

.guest-review-text{
    padding-top:16px;
    padding-right:95px;
    padding-left:99px;
    margin:0 auto;
    text-align:justify;
}

.review-text{
    font-weight:300;
    font-size: 12px;
    line-height: 160%;
}

/*NEWSLETTER SECTION*/

.newsletter-container{
    height:260px;
    align-items:center;
    justify-content: space-around;
    background-image: url(https://s3-alpha-sig.figma.com/img/d975/bd93/8a2bc6b23132fa51dcedea4f0880ba8c?Expires=1601251200&Signature=VeVlvUXz529x0A432vZxkEy-AhdimNQ6k0wIiuJWkGu~D0BWicNATVaDV8R21oQ~1JGR~yCX-2v6xm1ZaOjrOdooF9PhbRi4GeS-wCQtcmvue2jEmlQmUfSoEqNWV3yihcP67~XgxXrUOLCyysL2A7EkleyVoGZveOvMxLCsArU~YGtSlvjQtGe2zYUepM-4BNcDGVrnA7IY6eOexhMaE67-~Dt1eNRtzqYtYtZKXzvSSmNOYXBht0t7ZY2vuXQT3o1j0CHs6XEPJYTPzqHFNduX7nP4YgrgJwCgX0j~U1e4KLxpfe5RRJbD1BMPqO7noGVUsMpZ4W4N5GfmZffxfQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
}

.newsletter-container:after{
    content: ' ';
    position: absolute;
    z-index: 1;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color:rgba(10, 34, 61, 0.8);
}


.newsletter-text{
    position:relative;
    z-index:2;

}
.text-subscribe{
    font-size:24px;
    font-weight: 300;
    color:#ffffff;
    position:relative;
    z-index:2;
}

.text-newsletter{
    font-size:36px;
    font-weight:300;
    color:#ffffff;
    position:relative;
    z-index:2;

}

.newsletter-input-box{
    position:relative;
    z-index:2;
    display:flex;

}

.white-input{
    background-color:#ffffff;
    border:none;
    padding-left:33px;
}

.newsletter-input{
    height:55px;
    width:285px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
::-webkit-input-placeholder { /* Edge */
    color:#BDBDBD;
    font-size:14px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BDBDBD;
    font-size:14px;
  }
  
  ::placeholder {
    color: #BDBDBD;
    font-size:14px;
  }

:focus{
    outline:none;
}  

.pink-input-button{
    background-color:#EC1F46;
    width:65px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border:none;
    color:#ffffff;
}

/*OTHER ACTIVITIES*/

.activities-top{
    margin-top:60px;
}

.other-activities-container{
    height:416px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-other-activity{
    margin-top:56px;
    height:255px;
    flex-basis:255px;
    display:flex;
    flex-direction:column;
    background-position: center!important;
    background-size:cover!important;
    background-repeat:no-repeat!important;
    border-radius:6px;
}

.other-activity-text{
    color:#ffffff;
    font-size:16px;
    margin-top:143px;
    margin-left:26px;
}

.other-activity-button{
    background-color:#EC1F46;
    color:#ffffff;
    width:100px;
    margin-top:18px;
    margin-left:26px;
    height:30px;
    border-radius:4px;
    text-align:center;
    line-height:30px;
    font-size:12px;
    font-weight:300;
}

/*FOOTER*/

footer{
    display:flex;
    flex-direction: column;
    height:900px;
    color:#ffffff;
    background-color:#0a223d;
    padding-left:165px;
    padding-right:165px;
}

.first-footer-grid{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:111px;
    height:223px;
}

.ffg-box-1{
    align-items: center;
}

.ffg-box-2, .ffg-box-3, .ffg-box4{
    display:flex;
    flex-direction:column;
}

.ffg-box-3{
    flex-basis:315px;
}

.footer-logo{
    font-family: 'Luckiest Guy', cursive;
    font-size:64px;
    color:#ffffff;
    margin-top:28px;
}

.ffg-title{
    margin-bottom:28px;
}

.ffg-list{
    list-style-type: none;
    padding-left:0;
}

.ffg-list-item{
    color:#bdbdbd;
    font-size:14px;
    font-weight:300;
    line-height:23px;
}

.ffg-social-info{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:23px;
}

.footer-social-icons{
    flex-basis:86px;
    display:flex;
    justify-content: space-between;
}

.f-icon{
    background-color:#BDBDBD;
    width:24px;
    height:24px;
    border-radius:50%;
}

