/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    color:#333333;
    
}

h1{
    font-size:24px;
    margin:0;

}

h2{
    font-size:18px;
    margin:0;

}

h3{
    font-size:14px;
    margin:0;
}

h4{
    font-size:10px;
    margin:0;

}

h5{
    font-size:8px;
    margin:0;
}

.light{
    font-weight:300;
}

.pink-text{
    color:#EC1F46;
}

.light-blue-section{
    background-color:#F5FAFE;
}
/*NAVBAR TOP*/

.container{
    display:flex;
    flex-basis:100%;
    padding-right:165px;
    padding-left:165px;
}

.navbar-top{

height: 60px;
left: 0px;
top: 0px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background-color:#F5FAFE;
justify-content:space-between;
align-items:center;

}

.navbar-top-icon{
    margin-right:7px;
    font-size:16px;
}

.navbar-top-box-1{
    flex-basis:70%;
}

.navbar-top-box-2{
    flex-basis:15%;
    text-align:right;
}

.navbar-top-box-3{
    flex-basis:15%;
    text-align:right;
}

/*NAVBAR*/

.navbar{
    height: 120px;
    left: 0px;
    align-items:center;
    justify-content: space-between;
    }

.navbar-box-1{
    flex-basis:15%;
    height:24px;
    
}

.navbar-title{
    font-family: 'Luckiest Guy', cursive;
    margin:0;
}

.navbar-box-2{
    display:flex;
    align-items:center;
    text-align:right;
    flex-basis:25%;
    height: 40px;
    
}

.find-bar{
    background-color:#F5FAFE;
    width: 350px;
    height: 40px;
    left: 450px;
    top: 100px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.find-button{
    width: 65px;
    height: 40px;
    left: 735px;
    top: 100px;
    background-color:#EC1F46;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

.navbar-box-3{
    height: 34px;
    display:flex;
    align-items: center;
}

.navbar-space{
    flex-basis:15%;
}

.cart{
    width: 24px;
    height: 24px;
    display:flex;
   
}

.cart-icon{
    width: 34px;
    height: 34px;
    color:#333333;
    font-size:24px;
}

.dot{
    width: 20px;
    height: 20px;
    margin-top:-20px;
    background-color:#EC1F46;
    color:#ffffff;
    text-align:center;
    font-size:10px;
    line-height:20px;
    border-radius:50%;
    
}

.navbar-box-4{
    display:flex;
    flex-basis:10%;
    justify-content:space-between;
    align-items: center;
}

.profile-pic{
    width:40px;
    height:40px;
    background-color:blue;
    border-radius:50%;
}

.chevron-icon{
    font-size:24px;
    
}

/*NAVBAR BOTTOM*/

.navbar-bottom{
    background-color:#0a223d;
    color:#ffffff;
    height:80px;
    align-items: center;
    justify-content: space-between;
}

.inline-menu{
    width:100%;
    padding:0;
    display:inline-flex;
    justify-content: space-between;
    list-style-type: none;
}

.navbar-link{
    color:#ffffff;
    text-decoration:none;
}

.navbar-link:hover{
    color:#ffffff;
    opacity:0.8;
}

/*BREADCRUMB*/

.breadcrumb{
    height:50px;
    font-weight:300;
    align-items: center;
}

.breadcrumb-link{
    color:#333333;
    text-decoration:none;
}

.breadcrumb-link:hover{
    text-decoration:underline;
}

/*HOTEL NAME*/

.hotel-name{
    justify-content:space-between;
    align-items:center;
    height:100px;
}

.hotel-name-box-2{
    width:5%;
    border-radius:4px;
    text-align:center;
    line-height:22px;
    background-color:#EC1F46;
    color:#ffffff;
    height:45px;
}

.star{
    color:#F2994A;
    font-size:8px;
}

.star-container{
    height:8px;
    margin-bottom:16px;
}

.offer-container{
    height:20px;
}

.offer-text{
    font-size:12px;
    font-weight:300;
}

/*SLIDER BOOKING AND MAP*/

.slider-booking-map-container{
    justify-content: space-between;
    
}

.slider{
    flex-basis:70%;
    height:477px;
    border-radius:8px;
    background-image:url(https://s3-alpha-sig.figma.com/img/2b6d/bbb7/c51053944d88e342b77ef771783c0dd3?Expires=1601251200&Signature=JoqR~VTh-56uxyazT-4DqGTSTPv8qH~3J61SC3yZmJkf4MOxEakHkMCbOUOzaZ6ZM5JgmLGa3G13mpqiYR2773RuP5jcycEq6j~5l5NJISrvKG7yVcQg5EIRbGDnwbh8nNsgw~41~SzJX9aw7z8Dbs~7NjYl-jQSj9y4uRpwfGO0h730JqGlPsmcVSWJLHPlKTkWn4BpwTZ92Lc111hxRFfc8wrWEZ-UBQrTW-gIdHj6zSv6x59vv31LRKkYukiwCbqqCnL2mYCeOerGeK6woFiSbrKWx~zB~vqKm5NIh7zX4Z7XHa2jheQcnFw44v4Bz07D69809WdoNsBu6j7cqg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-position:center;
    
}

.booking-map-container{
    flex-basis:23%;
    
}

.booking-blue{
    height:210px;
    padding-top:26px;
    color:#ffffff;
    background-color:#0a223d;
    border-radius:8px;

}
.booking{
    display:flex;
    justify-content: space-around;
}

.text-margin{
    margin-bottom:9px;
}

.text-margin-triple{
    margin-bottom:35px;
}

.booking-button{
    width:90%;
    height:45px;
    margin:0 auto;
    background-color:#EC1F46;
    border-radius:4px;
    color:#ffffff;
    text-align:center;
    line-height:45px;
    margin-top:17px;
}

.booking-icon{
    margin-right:5px;
}

.map{
    height:213px;
    margin-top:27px;
}

/*CARDS MENU*/

.cards-menu-container{
    height:35px;
    margin-top:67px;
    justify-content: space-between;
}

.cards-menu{
    margin:0;
}

.cards-menu-link{
    color:#333333;
    text-decoration:none;
}

.cards-menu-link:hover{
    color:#EC1F46;
}

.cards-menu-link-box {
    font-size:14px;
    text-decoration:none;
}

.cards-menu-link-box:hover{
    border-bottom:4px solid #EC1F46;
}

/*PACKAGE SUMMERY*/

.summery-top{
    margin-top:40px;
}

.package-summery-container{
    justify-content: space-between;
    flex-basis:45%;
    margin-top:45px;
    
}

.package-highlights{
    flex-basis:45%;
    height:200px;
    background-color:#ffffff;
}

.offer-details{
    flex-basis:45%;
    height:200px;
    background-color:#ffffff;
    
}

.blue-section-summery{
    flex-basis:45%;
    background-color: #0a223d;
    color:#ffffff;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    padding-left:24px;
}

.summery-title{
    line-height:50px;
}

.package-summery-body{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding-left:24px;
}

.package-group-sx, .package-group-dx{
    height:96px;
    flex-basis:50%;
    padding-top:29px;
}

.package-section{
    flex-basis:100%;
    display:flex;
    margin-bottom:20px;
}

.section-sx{
    flex-basis:10%;
}

.section-dx{
    flex-basis:80%;
}

.text-section{
    font-size:12px;
    font-weight:300;
}

/*PACKAGE SUMMERY DETAILS*/

